<header>
  <div class="logo">
    <img src="images/Home_logo.png" alt="Logo" />
    <h1>Mark's Currency Exchange</h1>
  </div>
  <nav>
    <ul>
      <li>
        <button
          type="button"
          class="btn btn-outline-primary"
          onclick="window.location.href=''"
        >
          首頁
        </button>
      </li>
      <li>
        <button
          type="button"
          class="btn btn-outline-secondary"
          onclick="window.location.href=''"
        >
          匯率轉換器
        </button>
      </li>
      <li>
        <button
          type="button"
          class="btn btn-outline-info"
          data-bs-toggle="modal"
          data-bs-target="#enroll"
        >
          帳號註冊
        </button>
      </li>
      <li>
        <button
          type="button"
          class="btn btn-outline-warning"
          data-bs-toggle="modal"
          data-bs-target="#login"
        >
          會員登入
        </button>
      </li>
    </ul>
  </nav>
</header>
