main section.backimg {
  width: 100%;
  height: 80vh;
  background-image: url("../../images/wallpaper.png");
  background-position: center;
  background-size: 100%;
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section.backimg div.filter {
  background-color: rgba(206, 200, 187, 0.555);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 80vh;
}

main section.backimg div.overflow-auto {
  background-color: rgba(61, 87, 154, 0.164);
  width: 15vw;
  height: 80vh;
  padding: 1rem 1rem;
}

main section.backimg div.overflow-auto div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0rem;
}

main section.backimg div.currency_showing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.backimg div.currency_showing div.value_showing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.backimg div.currency_showing div.value_showing div.value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem 0rem;
}

main section.backimg div.currency_showing div.value_showing div.value div.buy,
main section.backimg div.currency_showing div.value_showing div.value div.sell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem 1rem;
}

main section.backimg div.currency_showing div.cash_or_deposit {
  margin: 1rem 0rem;
}

main section.backimg div.charts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.backimg div.charts div.chart {
  margin-bottom: 5rem;
  margin-right: 3rem;
}

main section.backimg div.charts div.overflow-auto table {
  border: 1px solid black;
  border-spacing: 10px;
}

main section.backimg div.charts div.overflow-auto table th,
main section.backimg div.charts div.overflow-auto table td {
  border: 0.5px solid black;
}
/*# sourceMappingURL=member.css.map */