main {
  section.backimg {
    width: 100%;
    height: 80vh;
    background-image: url("../../images/wallpaper.png");
    background-position: center;
    background-size: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: space-between;

    div.filter {
      background-color: rgba(206, 200, 187, 0.555);
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 80vh;
    }

    div.overflow-auto {
      background-color: rgba(61, 87, 154, 0.164);
      width: 15vw;
      height: 80vh;
      padding: 1rem 1rem;

      div {
        display: flex;
        flex-direction: column;
        margin: 1rem 0rem;
      }
    }

    div.currency_showing {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      div.value_showing {
        display: flex;
        flex-direction: column;
        align-items: center;
        div.value {
          display: flex;
          flex-direction: row;
          margin: 1rem 0rem;
          div.buy,
          div.sell {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0rem 1rem;
          }
        }
      }

      div.cash_or_deposit {
        margin: 1rem 0rem;
      }
    }

    div.charts {
      display: flex;
      flex-direction: row;
      align-items: center;

      div.chart {
        margin-bottom: 5rem;
        margin-right: 3rem;
      }

      div.overflow-auto {
        table {
          border: 1px solid black;
          border-spacing: 10px;
          th,
          td {
            border: 0.5px solid black;
          }
        }
      }
    }
  }
}
