<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/member/member.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <section class="backimg">
        <div class="filter"></div>
        <div class="collection">
          <div>
            <button type="button" class="btn btn-light">
              <h4>美金(USD)</h4>
            </button>
          </div>
        </div>
        <div class="statas">
          <div class="details"></div>
        </div>
      </section>
    </main>
  </body>
</html>
