<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/member/member.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <section class="backimg">
        <div class="filter"></div>
        <div class="collection">
          <h3>已收藏</h3>
          <div>
            <h3><span class="badge bg-secondary">美金(USD)</span></h3>
            <button type="button" class="btn btn-outline-secondary">
              <h5>⇨</h5>
            </button>
          </div>
        </div>
        <div class="statas">
          <div class="value"></div>
          <div class="details"></div>
        </div>
      </section>
    </main>
  </body>
</html>
