<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/member/member.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <section class="backimg">
        <div class="filter"></div>
        <div class="title">
          <h1>尚未收藏任何貨幣</h1>
        </div>
      </section>
    </main>
  </body>
  <style>
    section {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    div.title {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  </style>
</html>
